
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #cccccc;
}
/*Centro el boton*/
.boton-centrado{

    display: block;
    /* width: 30%; */
    /* align-items: center; */
    text-align: center;
    /* justify-content: center; */

}

button{

    flex:  1 1 auto;
    background-color: darkslateblue;
    color: wheat;
    font-size: 20px;
    padding: 15px 10px;
    width: 30%;
    border: 1px solid darkblue;
    margin: 2%;
    border-radius: 10px;

}
button:hover{

    background-color: lightpink;
    border: 1px solid lemonchiffon;
    color: darkblue;
    cursor: pointer;
    border-radius: 10px;
}

/* Pongo el form dentro de un contenedor asi poder centrarlo con justy-content*/ 
div.container-abierto{

    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: black; */
    background-color: #cccccc;

}
form{

    background-color: darkslateblue;
    height: 220px;
    width: 40%;
    padding: 3%;
    /* box-sizing: border-box; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 30%; */
    margin-top: 2%; 
    border-radius: 15px;
    
}
div.cont-name{
/* Hago que el div mida el 100% del padre*/
    flex: 2 1 auto;
    width: 100%;

}
div.cont-edad{

    flex: 2 1 auto;
    width: 100%;

}
label{

    font-size: 25px;
    color: moccasin;
    /*background-color: lightsalmon;
    /*padding: 10px;
    margin: 10px;*/

}
.sinError{

    width: 100%;
    padding: 10px 5px;
    border: 2px solid lightgray;
    border-radius: 10px;

}
.boton{

    flex:  1 1 auto;
    background-color: dimgrey;
    color: wheat;
    padding: 10px 5px;
    width: 40%;
    border: 1px solid lightgray;
    margin: 2%;
    border-radius: 5px;

}
.boton:hover{

    background-color: lightblue;
    color: black;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.error{

    width: 100%;
    padding: 10px 5px;
    border: 2px solid red;

}
.menor{

    width: 100%;
    padding: 10px 5px;
    border: 2px solid yellow;

}