*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centrar como el th */
/* display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center */

/*Centrar como el boton*/
    /* display: inline-block;
    text-align: center;
    align-items: flex-start; */
button.mas{

    background-color: rgb(13, 170, 13);
    color: white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem 0 0;
    position: fixed;
    right: 0;
    border: none;
    font-size: 2rem;
    /* text-align: center; */

}
button.mas:hover{

    cursor: pointer;
    background-color: thistle;

}
/* span{

    display: block;
    margin-top: 0.7rem;
    font-size: 1.5rem;
} */
table{

    width: 100%;
    margin-top: 2rem;
    /* border-collapse: none; */
    border-spacing: 0;
    text-align: left;

}
table th{

    background-color: green;
    color: white;
    height: 2rem;
    padding-left: 0.7rem;
}
tr:nth-child(odd) {
    background-color: wheat;
}
table td{

    height: 2rem;
    padding-left: 0.7rem;

}
/*****************FORMULARIO********************/
div.container{

    background-color: lightgrey;
    margin: auto;
    padding: 1rem;
    width: 40%;
    border-radius: 5px;
    margin-top: 1rem;
    position: relative;
    bottom: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
div.botones{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
button.aceptar{
    background-color: rgb(44, 134, 44);
    padding: 0.8rem 2rem;
    border: 1px solid whitesmoke;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;

}
button.cancelar{
    background-color: rgb(201, 73, 84);
    padding: 0.8rem 2rem;
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
button.cancelar:hover{

    cursor: pointer;
    background-color: lightskyblue;

}
button.aceptar:hover{

    cursor: pointer;
    background-color: lightskyblue;

}