*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centrar como el th */
/* display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center */
.mas{

    background-color: rgb(13, 170, 13);
    color: white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem 0 0;
    position: fixed;
    right: 0;
    text-align: center;

}
span{

    display: block;
    margin-top: 0.7rem;
    font-size: 1.5rem;
}
table{

    width: 100%;
    margin-top: 2rem;
    /* border-collapse: none; */
    border-spacing: 0;
    text-align: left;

}
table th{

    background-color: green;
    color: white;
    height: 2rem;
    padding-left: 0.7rem;
}
tr:nth-child(odd) {
    background-color: wheat;
}
table td{

    height: 2rem;
    padding-left: 0.7rem;

}